#container {
    display: grid;
    background-color: aquamarine!important;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
}

.top-rightcard {
    justify-content: right;
    justify-items: right;
}
body {
    margin: 0px;

}

div#wrapper {
    overflow: visible;

    
}
#header-wrapper {
    background-color: brown;
display: fl;
}

.grid-container {
    display: grid;
    grid-template-rows: 2; 
    color: antiquewhite;
    
}

.card {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  

.flex-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
   width: 100%;
}
a {
    color: #abe6e0;
    text-decoration: none;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card {
    display: -ms-inline-grid;
}
